<p-toolbar class="fixed top-0 left-0 right-0 z-50" [style]="{ 'border-radius': '3rem', 'padding': '1rem', 'margin': '2rem'  }">
    <ng-template #start>
        <div class="flex items-center gap-2">
            <p-button label="Filler" text plain />
            <p-button label="Filler" text plain />
            <p-button label="Filler" text plain />
        </div>
    </ng-template>

    <ng-template #end>
        <div class="flex items-center gap-2">
            <p-button label="Create Course" icon="pi pi-plus" [rounded]="true" severity="contrast" size="small"  />
        </div>
    </ng-template>
</p-toolbar>